@import "tailwindcss";

/* Animation */
@keyframes gradient-scroll {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes fallAnimation {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

.bg-gradient-move {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 200% 100%; /* Double width to allow smooth looping */
  background-repeat: repeat-x;
  background-image: linear-gradient(
    90deg,
    #e06c75,
    #e5c07b,
    #98c379,
    #61afef,
    #c678dd,
    #e06c75
  );
  animation: gradient-scroll 5s linear infinite;
}

/* Fonts */
@font-face {
  font-family: "Brick Sans";
  src: url("/fonts/NTBrickSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains";
  src: url("/fonts/JetBrainsMono-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}

/* Buttons */

.button-gradient {
  @apply transform rounded-full border-6 border-black px-12 py-6 font-bold text-white uppercase transition active:scale-95;
  @apply shadow-[4px_4px_0px_rgba(0,0,0,0.8)];
}

.signup {
  @apply bg-gradient-to-r from-[#e5c07b] to-[#e06c75];
}
.login {
  @apply bg-gradient-to-r from-blue-500 to-purple-500;
}
.play {
  @apply bg-gradient-to-r from-teal-500 to-blue-500;
}
.settings {
  @apply bg-gradient-to-r from-blue-500 to-indigo-500;
}

/* Apply it globally (optional) */
.font-brick-sans {
  font-family: "Brick Sans", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", classic;
}

.font-jet-brains {
  font-family: "JetBrains", sans-serif;
}
